In [1]:
#Data Exploration:
#You can use Pandas to quickly explore and understand your dataset. Functions like head(), tail(), info(), and describe() 
#provide a summary of the data, information about data types, and basic statistics.

import pandas as pd #used for data loading and manipulation

import matplotlib.pyplot as plt #used for data visualization such as histogram,scatterplot,etc

import numpy as np #NumPy is a powerful library for numerical operations in Python

from sklearn.model_selection import train_test_split #scikit-learn (or sklearn) is a popular machine learning library in Python
# that provides simple and efficient tools for data analysis and modeling. 

#correlation analysis reamining

In [2]:
df = pd.read_csv('Practical Exam Datasets/Decision Tree & Naive Bayes Classification/madfhantr.csv') #here df means dataframe it is a 2D table like structure

In [3]:
df.head() #displays the first 5 lines by default

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.tail(10) #displays the last 10 lines

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
df.info() #method is used to get a concise summary of a DataFrame
#<class 'pandas.core.frame.DataFrame'>Indicates the type of the object (DataFrame).
#RangeIndex: 614 entries, 0 to 613 Provides information about the index, including the number of entries and the index range.
#Data columns (total 13 columns):Indicates the number of columns in the DataFrame.
# values - Name of the column, the number of non-null (non-missing) values, and the data type 
#(object in this case, which usually represents strings or mixed types).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df.describe() # Display basic statistics of the dataset

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [7]:
df.shape #number of rows and columns

(614, 13)

In [8]:
#Data Cleaning:
#Pandas offers methods to handle missing data, drop unnecessary columns, and filter rows based on conditions.

In [9]:
numerical_cols=df.select_dtypes(include=[np.number]) #will contain columns with numerical data types.
categorical_cols=df.select_dtypes(include=['object']) #will contain columns with object data type (assuming they are categorical).

In [10]:
df.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
df.isnull().sum().sum()

149

In [13]:
# Fill missing values with the mean of the column
df['Credit_History'].fillna(df['Credit_History'].mean(),inplace=True)

In [14]:
# Drop rows with any missing values
df.dropna()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [15]:
#this drops all the duplicate rows
df=df.drop_duplicates()

In [16]:
#Data Manipulation:
#You can perform various operations on the data, such as filtering, sorting, grouping, and aggregating.

In [17]:
#Feature Selection
#Identify relevant features for training the model based on the problem statement and dataset.
X = df[['CoapplicantIncome', 'LoanAmount','Loan_Amount_Term','Credit_History']]
Y = df['Loan_Status']

In [18]:
#Split the dataset into training and testing sets to evaluate the model's performance.
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.75,random_state=10)

In [19]:
#Building Decision Tree
#Create and train a Decision Tree model using a library like scikit-learn.
from sklearn.tree import DecisionTreeClassifier

In [20]:
#Training the model
model=DecisionTreeClassifier()
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [21]:
#Make predictions on the testing set
Y_pred=model.predict(X_test)

In [22]:
#Model Evaluation
from sklearn import metrics, preprocessing
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [24]:
accuracy = accuracy_score(Y_test,Y_pred)
precision = precision_score(Y_test,Y_pred)
recall = recall_score(Y_test,Y_pred)
f1_score = f1_score(Y_test,Y_pred)

ValueError: pos_label=1 is not a valid label. It should be one of ['N', 'Y']

In [25]:
print(f"Accuracy : {accuracy}")
print(f"Precision : {precision}")
print(f"Recall : {recall}")
print(f"F1 Score : {f1_score}")

Accuracy : 0.7337662337662337

NameError: name 'precision' is not defined

In [26]:
cm = confusion_matrix(Y_test,Y_pred)
print("Confusion matrix:-")
print(cm)

Confusion matrix:-
[[20 21]
 [20 93]]

In [30]:
plt.figure(figsize=(15,10))
plot_tree(df,filled=True,feature_names=X.columns,class_names=label_encoder.classes_,max_depth=2)
plt.show()

NameError: name 'plot_tree' is not defined